/* add logo to title banner */
.quarto-title-block .quarto-title-banner {
  background-image: url(images/usydlogo.png);
  background-size: 100px;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 36px;
  background-origin: content-box;
}

/* hide logo when screen size is small */
@media (max-width: 800px) {
  .quarto-title-block .quarto-title-banner {
    background-image: none;
  }
}

/* change colour of cell-output */
.cell-output {
  background-color: #fcede2;
  border-radius: 4px;
}
